.container {
  border: 2px solid black;
  width: 600px;
  margin: 0 auto;
  padding: 15px;
}

.container__title {
  margin-bottom: 20px;
  padding: 5px;
}

.container__AreaGame {
  position: relative;
  width: 500px;
  height: 400px;
  border: 2px solid black;
  margin: 0 auto;
}

